extends baseEmail

block content
  p Hi #{ firstName },
  p Forgot your password? Click on the link here: #{ url }.
  p (The page for this action hasn't been implemented yet.)
  table.btn.btn-primary(
    role='presentation',
    border='0',
    cellpadding='0',
    cellspacing='0'
  )
    tbody
      tr
        td(align='left')
          table(
            role='presentation',
            border='0',
            cellpadding='0',
            cellspacing='0'
          )
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Your Password
  p If you didn't forget your password, please disregard this email!
